@model IEnumerable<IdentityRole>
@{
    ViewBag.Title = "ListOfRoles";
}
<div class="container col-md-6">
    @if (Model.Any())
    {
        <a class="btn btn-primary btn-block" asp-controller="Administration" asp-action="CreateRole" style="width:auto"><h4>Create Role</h4></a>
        <hr />
        foreach (var role in Model)
        {
            <div class="card mb-3 text-md-center">
                <div class="card-header">
                    Role ID: @role.Id
                </div>
                <div class="card-body">
                    <h5 class="card-title">
                        Role Name: @role.Name
                    </h5>
                </div>
                <div class="card-footer">
                    <form asp-action="DeleteRole" asp-controller="Administration" method="post" asp-route-id="@role.Id">
                        <a asp-controller="Administration" asp-action="EditRole" asp-route-id="@role.Id" class="btn btn-primary" style="width:auto">Edit</a>
                        <span id="confirmDeleteSpan_@role.Id" style="display:none">
                            <span><hr />
                                Are you sure want to to delete this role?
                               
                                <button type="submit" class="btn btn-danger">Yes</button>
                                <a href="#" class="btn btn-primary" onclick="confirmDelete('@role.Id', false)">No</a>
                            </span>
                        </span>
                        <span id="deleteSpan_@role.Id">
                            <a href="#" class="btn btn-danger" onclick="confirmDelete('@role.Id',true)">Delete</a>
                        </span>
                    </form>
                </div>
            </div>
        }
    }
    else
    {
        <div class="card">
            <div class="card-header">
                No role created yet
            </div>
            <div class="card-body">
                <h5 class="card-title">
                    Use the button bellow to create a new role
                </h5>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" asp-controller="Administration" asp-action="CreateRole" style="width:auto">Create Role</a>
            </div>
        </div>
    }
    </div>
    @section Scripts{
        <script src="~/js/customeScript.js"></script>
    }

